@import "icons.scss";
@import "../header/header";
@import "../sidebar/sidebar";
@import "../company/company";


$mainColor: #b1b1b1;

body {
  background: $mainColor;
  overflow: hidden;
}

.page {
  display: flex;
  height: 100%;
}


.form__input {
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}